$card-height: 38vh;
$card-border-width: $element-border-width;
$card-border-radius: $element-border-radius;
$card-border-color: $content-color;
$card-color: $content-contrast-color;
$card-background-color: rgba($content-contrast-background-color, .9);

.card {
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  box-sizing: border-box;
  height: $card-height;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 0 0 1px black;

  * {
    pointer-events: none;
  }

  & > * {
    padding: 0 $layout-padding; 
    color: $card-color;
    background-color: $card-background-color;
    transform: translateY(calc(#{$card-height} - 3 * #{$grid-size}));
    transition: transform .2s ease;
  }

  &:hover {
    overflow-y: auto;

    & > * {
      transform: translateY(0);
    }
  }

  & > :first-child {
    padding-top: .5 * $grid-size;
  }
  & > :last-child {
    padding-bottom: $layout-padding;
  }

  ._meta {
    font-size: $font-size-h5;
    font-family: $font-family-content;
    line-height: $grid-size;
  }
  
  ._title {
    font-size: $font-size-h3;
    font-family: $font-family-headlines;
    line-height: 1.5 * $grid-size;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  ._content {
    padding-top: $layout-padding;
    font-size: $font-size-h5;
    font-family: $font-family-content;
    line-height: 1.2;
  }
}