---
layout: default
---
<div class="page">
  <div class="_top">
    {%- include header-small.html -%}
  </div>
  <div class="_center cs-index-content">
    {%- if page.title -%}
    <div class="text -h1">{{ page.title }}</div>
    {%- endif -%}

    {{content}}

  {%- if site.posts.size > 0 -%}
    <div class="grid -cols-50-50">
      {%- for post in site.posts -%}
      <a href="{{ post.url | relative_url }}" tabindex="0" title="{{ post.title | escape }}" class="card"{% if post.image %} style="background-image: url({{ post.image | relative_url }})"{% endif %}>
        <div class="_meta">{{ post.date | date: '%d.%m.%y' }}</div>
        <div class="_title">{{ post.title | escape }}</div>
        <div class="_content">{{ post.excerpt }}</div>
      </a>
      {%- endfor -%}
    </div>
  {%- endif -%}
  </div>
  <div class="_bottom">
    {%- include footer.html -%}
  </div>
</div>
