---
layout: default
---
<div class="page">
  <div class="_top">
    {%- include header-small.html -%}
  </div>
  <div class="_center cs-page-content">
    {%- if page.title -%}
    <div class="text -h1">{{ page.title }}</div>
    {%- endif -%}

    {{content}}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  </div>
  <div class="_bottom">
    {%- include footer.html -%}
  </div>
</div>
